<div class="block">
<% if controller.action_name == "show" %>
  <h3><%=t(:Statistics)%></h3>
  <div class="content">
<% for group in @club.groups do %>
<% if group != nil && !group.students.blank? %>
  <p>
  <%=t(:Group)%>: <%=h group.identifier%><br/>
  <%=t(:Num_students)%>: <%= group.students.length %><br/>
  </p>
<% end %>
<% end %>
  </div>
</div>
<% end %>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><a href="#">Link 1</a></li>
    <li><a href="#">Link 2</a></li>
  </ul>
</div>
