<div class="block">
	<h3><%=t(:Search_parameters)%></h3>
	<div class="content">
		<p><%=t(:Search_descr)%></p>
		<% form_tag :action=>"search", :controller=>"students", :class => "form", :method => "post" do -%>
		<table class="table">
		<tr class="<%=cycle('even','odd')%>">
			<td><%=t:Club%>:</td>
			<td><%= select "searchparams", "club_id", [[ t(:All), -100 ]] + @clubs.map { |g| [ g.name, g.id ] } %></td>
		</tr>
		<tr class="<%=cycle('even','odd')%>">
			<td><%=t:Grade%>:</td>
			<td><%= select "searchparams", "grade", [[ t(:All), -100 ]] + -8.upto(12).map { |g| [ grade_name(g), g ] } %></td>
		</tr>
		<tr class="<%=cycle('even','odd')%>">
			<td><%=t:Group%>:</td>
			<td><%= select "searchparams", "group_id", [[ t(:All), -100 ]] + groups.map { |g| [ g.identifier, g.id ] } %></td>
		</tr>
		</table>
		<%= submit_tag t(:Search) %>
		<% end -%>
	</div>
</div>
<%= render :partial => "students/statistics" %>
