.group
  = f.label :main_interest_id, t(:Main_Interest), :class => :label
  = select "student", "main_interest_id", grade_categories.map { |g| [ g.category, g.id ] }
  %br

.group
  = f.label :email, t(:Email), :class => :label
  = f.text_field :email, :class => 'text_field'

.group
  %label.label= t(:Mailing_Lists)
  - mailing_lists.each do |ml|
    - if ml.security == 'public' && ( ml.club == nil || ml.club == @club )
      = check_box_tag "subscribes_to[" + ml.id.to_s + "]", value = "1", checked = @student.mailing_list_ids.include?(ml.id)
      %label{ :for => "subscribes_to_" + ml.id.to_s }= ml.description
      %br
    - else
      = hidden_field_tag "subscribes_to[" + ml.id.to_s + "]", value = @student.mailing_list_ids.include?(ml.id) ? "1" : "0"

.group
  = f.label :home_phone, t(:Home_phone), :class => :label
  = f.text_field :home_phone, :class => 'text_field'
  %span.description= t(:Phone_number_descr)

.group
  = f.label :mobile_phone, t(:Mobile_phone), :class => :label
  = f.text_field :mobile_phone, :class => 'text_field'
  %span.description= t(:Phone_number_descr)

.group
  = f.label :street, t(:Street), :class => :label
  = f.text_field :street, :class => 'text_field'

.group
  = f.label :zipcode, t(:Zipcode), :class => :label
  = f.text_field :zipcode, :class => 'text_field'

.group
  = f.label :city, t(:City), :class => :label
  = f.text_field :city, :class => 'text_field'

.group.navform
  %input.button{ :type => "submit", :value => t(:Save) + " &rarr;" }
