<div class="group">
	<%= f.label :main_interest_id, t(:Main_Interest), :class => :label %>
	<%= select "student", "main_interest_id", grade_categories.map { |g| [ g.category, g.id ] } %><br/>
</div>

<div class="group">
	<%= f.label :email, t(:Email), :class => :label %>
	<%= f.text_field :email, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :mailing_lists, t(:Mailing_Lists), :class => :label %>
	<% mailing_lists.each do |ml| -%>
	<% if ml.security == 'public' -%>
	<label><td><%= check_box_tag "subscribes_to[" + ml.id.to_s + "]", value = "1", checked = @student.mailing_list_ids.include?(ml.id) %> <%=ml.description%></label><br/>
	<% else -%>
	<%= hidden_field_tag "subscribes_to[" + ml.id.to_s + "]", value = @student.mailing_list_ids.include?(ml.id) ? "1" : "0" %>
	<% end -%>
	<% end -%>
</table>
</div>

<div class="group">
	<%= f.label :home_phone, t(:Home_phone), :class => :label %>
	<%= f.text_field :home_phone, :class => 'text_field' %>
	<span class="description"><%=t :Phone_number_descr%></span>
</div>

<div class="group">
	<%= f.label :mobile_phone, t(:Mobile_phone), :class => :label %>
	<%= f.text_field :mobile_phone, :class => 'text_field' %>
	<span class="description"><%=t :Phone_number_descr%></span>
</div>

<div class="group">
	<%= f.label :street, t(:Street), :class => :label %>
	<%= f.text_field :street, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :zipcode, t(:Zipcode), :class => :label %>
	<%= f.text_field :zipcode, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :city, t(:City), :class => :label %>
	<%= f.text_field :city, :class => 'text_field' %>
</div>

<div class="group navform">
	<input type="submit" class="button" value="<%=t :Save%> &rarr;" />
</div>
