<div class="block">
  <h3><%=t:Current_grade%></h3>
  <div class="content">
<% g = current_grade(@student) %>
  <p>
  <b><%=t:Current_grade%>:</b>
  <%=grade_name(g.grade)%>
  </p>
  <p>
  <b><%=t:Held_since%>:</b>
  <%=l(g.graduated.to_date)%>
  </p>
  </div>
</div>

<div class="block">
  <h3><%=t:Latest_payment%></h3>
  <div class="content">
  <p>
<% if @student.payments.blank? %>
  <%=t:No_payment%>
<% else %>
<% p = @student.payments[0] %>
  <b><%=t:Amount%>:</b>
  <%=p.amount%>
  </p>
  <p>
  <b><%=t:Received%>:</b>
  <%=l(p.received.to_date)%>
  </p>
  <p>
  <b><%=t:Description%>:</b>
  <%=h p.description%>
<% end %>
  </p>
  </div>
</div>
