<div class="block">
	<h3><%=t(:Statistics)%></h3>
	<div class="content">
		<p>
			<%= t(:Matched_x_students, :count => @students.length) %>.
			<% total = @students.length %>
		</p>

		<% rows = [] %>
		<% for group in groups do -%>
		<% count = @students.select{ |s| s.group_ids.include? group.id }.length -%>
		<% rows << [ group.identifier, count ] %>
		<% end %>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Group), :col2 => t(:Num_Students), :rows => rows, :total => total } -%>

		<% rows = [] %>
		<% rows << [ t(:Male), @students.select{ |s| s.gender == 'male' }.length ] -%>
		<% rows << [ t(:Female), @students.select{ |s| s.gender == 'female' }.length ] -%>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Gender), :col2 => t(:Num_Students), :rows => rows, :total => total } -%>

		<%- rows = [] -%>
		<%- ages = [ [0,7], [8,14], [15,20], [21,25], [26,99] ] -%>
		<%- for age_span in ages do -%>
		<%- l = age_span[0].to_s + "&#8209;" + age_span[1].to_s + "&nbsp;" + t(:years) -%>
		<%- c = @students.select{ |s| s.age >= age_span[0] && s.age <= age_span[1] }.length %>
		<%- rows << [ l, c ] -%>
		<%- end -%>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Age), :col2 => t(:Num_Students), :rows => rows, :total => total } -%>

		<%- rows = [] -%>
		<%- for position in board_positions do -%>
		<%- c = @students.select{ |s| s.board_position == position }.length -%>
		<%- rows << [ position.position, c ] -%>
		<%- end -%>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Board_Position), :col2 => t(:Num_Students), :rows => rows, :total => total } -%>

		<%- rows = [] -%>
		<%- for position in club_positions do -%>
		<%- c = @students.select{ |s| s.club_position == position }.length -%>
		<%- rows << [ position.position, c ] -%>
		<%- end -%>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Club_Position), :col2 => t(:Num_Students), :rows => rows, :total => total } -%>

		<%- rows = [] -%>
		<%- for category in grade_categories do -%>
		<%- c = @students.select{ |s| s.main_interest == category }.length -%>
		<%- rows << [ category.category, c ] -%>
		<%- end -%>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Main_Interest), :col2 => t(:Num_Students), :rows => rows, :total => total } -%>

		<%- rows = [] -%>
		<%- for title in titles do -%>
		<%- c = @students.select{ |s| s.title == title }.length -%>
		<%- rows << [ title.title, c ] -%>
		<%- end -%>
		<%= render :partial => 'statistics_table', :locals => { :col1 => t(:Title), :col2 => t(:Num_Students), :rows => rows, :total => total }	-%>
		</div>
</div>
