.block
  .secondary-navigation
    %ul
      %li.first= link_to t(:Club_List), clubs_path
      %li= link_to h(@club.name), club_path(@club)
      %li.last.active= link_to t(:Archived), archived_club_students_path(@club)
    .clear
  .content
    .inner
      %h2= t(:Archived)
      %p
        = t(:Found)
        = @students.length
        = t(:Archived).downcase
        = t(:Students).downcase + "."
      %table.table.lesspadding
        %tr
          %th.first= t(:Name)
          %th= t(:Main_Interest)
          %th= t(:Groups)
          %th= t(:Personal_Num)
          %th= t(:Grade)
          %th.last &nbsp;
        - @students.each do |student|
          %tr{ :class => cycle("odd", "even") }
            %td= student.name
            %td= student.main_interest.category
            %td= student.groups.map{ |g| g.identifier }.join(", ")
            %td= student.personal_number
            %td= grade_str(student.current_grade)
            %td= link_to t(:Unarchive), unarchive_student_path(student), :class => 'button'
            %td &nbsp;
