.block
  .secondary-navigation
    %ul
      - if !@club.blank?
        %li.first= link_to t(:Club_List), clubs_path
        %li.active= link_to h(@club.name), club_path(@club)
        %li.last= link_to t(:Archived), archived_club_students_path(@club)
      - else
        %li.first.active.last= link_to t(:Search_Students), students_path
    .clear
  .content
    .inner
      %h2= t(:Students)
      = render :partial => 'list'

= content_for :sidebar, render(:partial => 'clubs/sidebar')
