<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><%= link_to t(:Club_List), clubs_path  %></li>
      <li><%= link_to @club.name, club_students_path(@club) %></li>
      <li class="active"><%= link_to @student.name, student_path(@student) %></li>
      <li><%= link_to t(:Edit), edit_student_path(@student) %></li>
      <li><%= link_to t(:Graduations), student_graduations_path(@student) %></li>
      <li><%= link_to t(:Payments), student_payments_path(@student) %></li>
    </ul>
    <div class="clear"></div>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%=t(:Group)%>:</b>
          <%=h @student.group.identifier %>
        </p>

        <p>
          <b><%=t(:Personal_no)%>:</b>
          <%=h @student.personal_number %>
        </p>

        <p>
          <b><%=t(:Email)%>:</b>
          <%=h @student.email %>
        </p>

        <p>
          <b><%=t(:Home_phone)%>:</b>
          <%=h @student.home_phone %>
        </p>

        <p>
          <b><%=t(:Mobile_phone)%>:</b>
          <%=h @student.mobile_phone %>
        </p>

        <p>
          <b><%=t(:Street)%>:</b>
          <%=h @student.street %>
        </p>

        <p>
          <b><%=t(:Zipcode)%>:</b>
          <%=h @student.zipcode %>
        </p>

        <p>
          <b><%=t(:City)%>:</b>
          <%=h @student.city %>
        </p>

        <p>
          <b><%=t(:Title)%>:</b>
          <%=h @student.title %>
        </p>

        <p>
          <b><%=t(:Comments)%>:</b>
        </p>
        <%=simple_format @student.comments %>
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
