<div class="block">
	<div class="secondary-navigation">
		<ul>
			<li class="first"><%= link_to t(:Club_List), clubs_path %></li>
			<li><%= link_to t(:Group_List), groups_path %></li>
			<li class="active"><%= link_to t(:Edit_Group), edit_group_path %></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="content">
		<h2 class="title"><%=t:Edit_Group%></h2>
		<div class="inner">
			<% form_for @group, :url => group_path(@group), :html => { :class => :form } do |f| -%>
			<%= render :partial => "form", :locals => {:f => f} %>
			<% end -%>
		</div>
	</div>
</div>
