<p>
  <b>Club:</b>
  <%=h @group.club_id %>
</p>

<p>
  <b>Identifier:</b>
  <%=h @group.identifier %>
</p>

<p>
  <b>Comments:</b>
  <%=h @group.comments %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>