
<div class="group">
	<%= f.label :login, t(:Login), :class => :label %>
	<%= f.text_field :login, :class => 'text_field' %>
	<span class="description"><%=t:Login_descr%></span>
</div>

<div class="group">
	<%= f.label :fname, t(:Fname), :class => :label %>
	<%= f.text_field :fname, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :sname, t(:Sname), :class => :label %>
	<%= f.text_field :sname, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :email, t(:Email), :class => :label %>
	<%= f.text_field :email, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :password, f.object.new_record? ? t(:Password) : t(:Change_Password), :class => :label %>
	<%= f.password_field :password, :class => 'text_field' %>
</div>
<div class="group">
	<%= f.label :password_confirmation, t(:Confirm_Password), :class => :label %>
	<%= f.password_field :password_confirmation, :class => 'text_field' %>
</div>

<% if current_user.users_permission? %>
<h3><%=t:Global_Permissions%></h3>
<div class="group">
	<% if current_user == @user -%>
	<span class="description"><%=t:Edit_own_permissions_descr%></span>
	<% end -%>
	<table>
		<%- if current_user.clubs_permission? -%>
		<tr>
			<td><%=t(:Edit_clubs)%></td>
			<td><%= f.check_box :clubs_permission, :class => 'check_box' %></td>
		</tr>
		<%- end -%>

		<%- if current_user.groups_permission? -%>
		<tr>
			<td><%=t(:Edit_groups)%></td>
			<td><%= f.check_box :groups_permission, :class => 'check_box' %></td>
		</tr>
		<%- end -%>

		<%- if current_user.users_permission? -%>
		<tr>
			<td><%=t(:Edit_Users)%></td>
			<td><%= f.check_box :users_permission, :class => 'check_box' %></td>
		</tr>
		<%- end -%>

		<%- if current_user.mailinglists_permission? -%>
		<tr>
			<td><%=t(:Edit_Mailing_Lists)%></td>
			<td><%= f.check_box :mailinglists_permission, :class => 'check_box' %></td>
		</tr>
		<%- end -%>

		<%- if current_user.site_permission? -%>
		<tr>
			<td><%=t(:Edit_Site)%></td>
			<td><%= f.check_box :site_permission, :class => 'check_box' %></td>
		</tr>
		<%- end -%>
	</table>
</div>

<h3><%=t:Club_Permissions%></h3>
<div class="group">
	<table>
		<tr>
			<td><b><%=t:Club%></b></td>
			<td><abbr title="<%=t:Read%>">Rd</abbr></td>
			<td><abbr title="<%=t:Write%>">Wr</abbr></td>
			<td><abbr title="<%=t:Delete%>">De</abbr></td>
			<td><abbr title="<%=t:Payments%>">Pa</abbr></td>
			<td><abbr title="<%=t:Graduations%>">Gr</abbr></td>
		</tr>
		<% clubs.each do |c| -%>
		<tr>
			<td><%=c.name%></td>
			<%= permission_checkboxes @user, c %>
		</tr>
		<% end -%>
	</table>
</div>

<% end -%>

<div class="group navform">
	<input type="submit" class="button" value="<%=t:Save%> &rarr;" />
	<% if controller.action_name != "new" %>
	<% if current_user.users_permission? %>
	<%=t(:or)%> <%= link_to t(:Destroy), @user, :confirm => t(:Are_you_sure_user), :method => :delete %>
	<% end %>
	<%=t:or%> <%= link_to t(:Cancel), users_path %>
	<% end %>
</div>
