<div class="block">
	<div class="secondary-navigation">
		<ul>
			<%= render :partial => 'application/links' %>
			<li class="active"><%= link_to t(:Profile), user_path(@user) %></li>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="content">
		<div class="inner">
			<p></p>
			<table class="table">
				<tr>
					<th colspan="2" class="first last"><%= @user.fname %> <%= @user.sname %></th>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Login%>:</td>
					<td><%= @user.login %></td>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Email%>:</td>
					<td><%= @user.email %></td>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Logged_in_since%>:</td>
					<td><%= @user.current_login_at %></td>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Logged_in_from%>:</td>
					<td><%= @user.current_login_ip %></td>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Previous_login%>:</td>
					<td><%= @user.last_login_at %></td>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Previous_login_from%>:</td>
					<td><%= @user.last_login_ip %></td>
				</tr>

				<tr class="<%=cycle('odd', 'even')%>">
					<td><%=t:Num_Loginss%>:</td>
					<td><%= @user.login_count %></td>
				</tr>
			</table>

			<% if @user.clubs_permission? || @user.groups_permission? || @user.users_permission? || @user.mailinglists_permission? -%>
			<table class="table">
				<tr>
					<th colspan="2" class="first last"><%=t:Global_Permissions%></th>
				</tr>

				<% if @user.clubs_permission? %>
				<tr class="<%=cycle('even', 'odd')%>">
					<td><%=t(:Edit_clubs)%>:</td>
					<td><%=t(:P_yes)%></td>
				</tr>
				<% end %>

				<% if @user.groups_permission? %>
				<tr class="<%=cycle('even', 'odd')%>">
					<td><%=t(:Edit_groups)%>:</td>
					<td><%=t(:P_yes)%></td>
				</tr>
				<% end %>

				<% if @user.users_permission? %>
				<tr class="<%=cycle('even', 'odd')%>">
					<td><%=t(:Edit_Users)%>:</td>
					<td><%=t(:P_yes)%></td>
				</tr>
				<% end %>

				<% if @user.mailinglists_permission? %>
				<tr class="<%=cycle('even', 'odd')%>">
					<td><%=t(:Edit_Mailing_Lists)%>:</td>
					<td><%=t(:P_yes)%></td>
				</tr>
				<% end %>

				<% if @user.site_permission? %>
				<tr class="<%=cycle('even', 'odd')%>">
					<td><%=t(:Edit_Site)%>:</td>
					<td><%=t(:P_yes)%></td>
				</tr>
				<% end %>
			</table>
			<% end -%>

			<table class="table">
				<tr>
					<th colspan="2" class="first last"><%=t:Club_Permissions%></th>
				</tr>

				<% clubs.each do |club| %>
				<% perms = @user.permissions_for(club) %>
				<% if perms.length > 0 %>
				<tr class="<%=cycle('even','odd')%>">
					<td><%= club.name %>:</td>
					<td><%= @user.permissions_for(club).map{ |p| t(p).titlecase }.join(", ") %></td>
				</tr>
				<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
