<div class="group">
	<%= f.label :email, t(:Email), :class => :label %>
	<%= f.text_field :email, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :description, t(:Description), :class => :label %>
	<%= f.text_field :description, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :security, t(:Security), :class => :label %>
	<%= f.select(:security, {  t(:Public) => 'public', t(:Private) => 'private' }) %><br/>
	<span class="description"><%=t :Security_descr%></span>
</div>

<% if controller.action_name != "new" -%>
<div class="group">
	<%= f.label nil, t(:Members), :class => :label %>
	<% @students = @mailing_list.students %>
	<table class="table">
		<tr>
			<th class="first"><%=t(:Club)%></th>
			<th><%=t(:Groups)%></th>
			<th><%=t(:Name)%></th>
			<th class="last"><%=t(:Grade)%></th>
		</tr>
		<% @students.each do |student| -%>
		<tr class="<%= cycle("odd", "even") %>">
			<td><%= link_to student.club.name, club_path(student.club) %></td>
			<td><%= student.groups.map{ |g| g.identifier }.join(", ") %></td>
			<td><%= link_to student.name, student_path(student) %></td>
			<td><%= grade_name(student.current_grade.grade) %></td>
		</tr>
		<% end -%>
	</table>
</div>
<% end %>

<div class="group navform">
	<input type="submit" class="button" value="<%=t:Save%> &rarr;" />
	<% if controller.action_name != "new" %>
	<%=t:or%> <%= link_to t(:Destroy), @mailing_list, :confirm => t(:Are_you_sure_mailing_list), :method => :delete %>
	<% end %>
	<%=t:or%> <%= link_to t(:Cancel), mailing_lists_path %>
</div>