<div class="group">
	<%= f.label :email, t(:Email), :class => :label %>
	<%= f.text_field :email, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :description, t(:Description), :class => :label %>
	<%= f.text_field :description, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :security, t(:Security), :class => :label %>
	<%= f.text_field :security, :class => 'text_field' %>
</div>

<div class="group navform">
	<input type="submit" class="button" value="<%=t:Save%> &rarr;" />
	<% if controller.action_name != "new" %>
	<%=t:or%> <%= link_to t(:Destroy), @mailing_list, :confirm => t(:Are_you_sure_mailing_list), :method => :delete %>
	<% end %>
	<%=t:or%> <%= link_to t(:Cancel), mailing_lists_path %>
</div>