
  <div class="group">
    <%= f.label :student_id, "Student_id", :class => :label %>
    <%= f.text_field :student_id, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :amount, "Amount", :class => :label %>
    <%= f.text_field :amount, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :received, "Received", :class => :label %>
    <%= f.datetime_select :received, :class => 'datetime_select' %>
    <span class="description">Ex: a simple text</span>
  </div>

  <div class="group">
    <%= f.label :description, "Description", :class => :label %>
    <%= f.text_field :description, :class => 'text_field' %>
    <span class="description">Ex: a simple text</span>
  </div>
        
<div class="group navform">
  <input type="submit" class="button" value="Save &rarr;" /> or <%= link_to 'Cancel', payments_path %>
</div>