<div class="block">
	<div class="secondary-navigation">
		<ul>
			<%= render :partial => 'application/links' %>
		</ul>
		<div class="clear"></div>
	</div>
	<div class="content">
		<h2 class="title"><%=t:Users%></h2>
		<div class="inner">
			<table class="table">
				<tr>
					<th><%=t:Login%></th>
					<th class="last"><%=t:Name%></th>
				</tr>
				<% @admins.each do |admin| -%>
				<tr class="<%= cycle("odd", "even") %>">
					<td>
						<%= link_to admin.login, administrator_path(admin) %>
					</td>
					<td>
						<%= (admin.fname or "") + " " + (admin.sname or "") %>
					</td>
				</tr>
				<% end -%>
			</table>
			<div class="actions-bar">
				<div class="actions">
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
