<%= f.hidden_field :student_id %>

<div class="group">
	<%= f.label :grade, t(:Grade), :class => :label %>
	<%= f.select :grade, -8.upto(12).map { |g| [ grade_name(g), g ] } %>
</div>

<div class="group">
	<%= f.label :instructor, t(:Instructor), :class => :label %>
	<%= f.text_field :instructor, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :examiner, t(:Examiner), :class => :label %>
	<%= f.text_field :examiner, :class => 'text_field' %>
</div>

<div class="group">
	<%= f.label :graduated, t(:Graduated), :class => :label %>
	<%= f.date_select :graduated, :class => 'datetime_select' %>
</div>

<div class="group navform">
	<input type="submit" class="button" value="<%=t:Save%> &rarr;" />
	<% if controller.action_name != "new" && controller.action_name != "new_bulk" -%>
	or <%= link_to t(:Cancel), student_graduations_path(@student, @graduation) %>
	<% end -%>
</div>
