<h1>Editing graduation</h1>

<% form_for(@graduation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :student_id %><br />
    <%= f.text_field :student_id %>
  </p>
  <p>
    <%= f.label :grade %><br />
    <%= f.text_field :grade %>
  </p>
  <p>
    <%= f.label :instructor %><br />
    <%= f.text_field :instructor %>
  </p>
  <p>
    <%= f.label :examiner %><br />
    <%= f.text_field :examiner %>
  </p>
  <p>
    <%= f.label :graduated %><br />
    <%= f.datetime_select :graduated %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @graduation %> |
<%= link_to 'Back', graduations_path %>