<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="active first last"><%= link_to t(:New_Graduation), :controller => 'graduations', :action => 'new_bulk' %></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <h2 class="title"><%=t:New_Graduation%></h2>
    <div class="inner">
      <p><%=t(:for).titlecase%>
        <%= (@students.map { |s| s.name }).join(", ") %>
      </p>

      <% form_for :graduation, @graduation, :url => { :action => 'update_bulk' }, :html => { :class => :form } do |f| -%>
      <%= render :partial => "form", :locals => {:f => f} %>
      <% end -%>
    </div>
  </div>
</div>

