<% active = controller.controller_name == 'clubs' &&
   controller.action_name == 'index' -%>
<li class="first<%= active ? ' active' : ''%>"><%= link_to t(:Club_List), clubs_path %></li>

<% if current_user.groups_permission? -%>
<% active = controller.controller_name == 'groups' &&
   controller.action_name == 'index' -%>
<li class="<%= active ? ' active' : ''%>"><%= link_to t(:Group_List), groups_path %></li>
<% end -%>

<% if current_user.mailinglists_permission? -%>
<% active = controller.controller_name == 'mailing_lists' &&
   controller.action_name == 'index' -%>
<li class="<%= active ? ' active' : ''%>"><%= link_to t(:Mailing_Lists), mailing_lists_path %></li>
<% end -%>

<% if current_user.users_permission? -%>
<% active = controller.controller_name == 'users' &&
   controller.action_name == 'index' -%>
<li class="<%= active ? ' active' : ''%>"><%= link_to t(:User_List), users_path %></li>
<% end -%>

<% if current_user.clubs_permission? -%>
<% active = controller.controller_name == 'students' &&
   controller.action_name == 'search' -%>
<li class="<%= active ? ' active' : ''%>"><%= link_to t(:Search_students), :controller => 'students', :action => 'search' %></li>
<% end -%>
