<div class="block">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><%= link_to 'Validations', url_for(:action=>"validate", :controller=>"application")  %></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="content">
    <div class="inner">

<table>

<% User.find(:all).each do |u| %>
<tr>
<td><%=u.login%></td>
<% if !u.valid? %>
<% errors = u.errors.each_full { |e| e } %>
<td><%=link_to errors.join(", "), edit_user_path(u) %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>

<% Group.find(:all).each do |g| %>
<tr>
<td><%=g.identifier%></td>
<% if !g.valid? %>
<% errors = g.errors.each_full { |e| e } %>
<td><%=link_to errors.join(", "), edit_group_path(g) %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>

<% Student.find(:all).each do |s| %>
<tr>
<td><%=s.name%></td>
<% if !s.valid? %>
<% errors = s.errors.each_full { |e| e } %>
<td><%=link_to errors.join(", "), edit_student_path(s) %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>

<% MailingList.find(:all).each do |s| %>
<tr>
<td><%=s.email%></td>
<% if !s.valid? %>
<% errors = s.errors.each_full { |e| e } %>
<td><%=link_to errors.join(", "), edit_mailing_list_path(s) %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>

<% Graduation.find(:all).each do |s| %>
<tr>
<td>Graduation #<%=s.id%></td>
<% if !s.valid? %>
<% errors = s.errors.each_full { |e| e } %>
<td><%= errors.join(", ")  %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>

<% Grade.find(:all).each do |s| %>
<tr>
<td>Grade #<%=s.id%></td>
<% if !s.valid? %>
<% errors = s.errors.each_full { |e| e } %>
<td><%= errors.join(", ")  %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>
</table>

<% Title.find(:all).each do |s| %>
<tr>
<td>Title #<%=s.id%></td>
<% if !s.valid? %>
<% errors = s.errors.each_full { |e| e } %>
<td><%= errors.join(", ")  %></td>
<% else %>
<td>OK</td>
<% end %>
</tr>
<% end %>
</table>

    </div>
  </div>
</div>
