!!!
%html
  - cache('layout_header') do
    %head
      %title= get_config(:site_name)
      = stylesheet_link_tag 'web_app_theme', "themes/" + SiteSettings.site_theme + "/style"
      = stylesheet_link_tag 'web_app_theme_override'

  %body
    #container
      #header
        %h1
          %a{ :href => root_path }= get_config(:site_name)
        #user-navigation
          %ul
            - if current_user
              - if current_user.type == 'Administrator'
                %li= link_to t(:Profile), administrator_path(current_user)
              %li=link_to t(:Logout), user_session_path, :method => :delete, :class => "logout"
            - for locale in I18n.available_locales do
              - if locale.to_s != I18n.locale.to_s
                %li= link_to image_tag(locale.to_s + '.png'), '?locale=' + locale.to_s
          .clear

        - if controller.controller_name != 'user_sessions'
          #main-navigation
            %ul
              = render :partial => 'application/links'
            .clear

    #wrapper
      .flash
        - flash.each do |type, message|
          %div{ :class => "message " + type.to_s }
            %p= message
      #main
        = yield
        - cache('layout_footer') do
          #footer
            .block
              %p #{t(:Register)} v#{version} &emsp;|&emsp; #{COPYRIGHT}

      #sidebar= yield :sidebar
      .clear
